# Node & Web Build
node_modules/
/dist/
.docusaurus/
.next/
.source/
/build/
/out/

# Build & Type info
*.tsbuildinfo
tsconfig.tsbuildinfo

# OS & Temp
.DS_Store
Thumbs.db
*.log
.env
.env.*
!.env.example
